@import 'lib/_flat_variables';
@import "bootstrap-sprockets";
@import "bootstrap";
@import "flat-ui";
@import "fontawesome";

@import "lib/variables";
@import "lib/mixins";

html, body {
  font-size: 16px;
}

.std-menu {

  ul {

    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      display: inline-block;
      position: relative;

      ul {
        display: none;
        position: absolute;

        li {
          display: block;
        }
      }
    }

    .second-item, .third-item {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid $light-border-color;
    }
  }
}

.no-gutter-left {
  padding-left: 0;
}

.no-gutter-right {
  padding-right: 0;
}

section.content-box {
  padding: 20px 14px;
  border: 1px solid $light-border-color;

  header.content-box__header {

    h2 {
      font-size: 1.4rem;
      margin: 0 0 10px 0;
      padding: 0;
    }
  }
}

.breadcrumb_bar {
  padding: 15px 0;
  background-color: #f7f7f7;
  border-color: #e4e4e4;

  -webkit-box-shadow: inset 0px 2px 10px 0px rgba(50, 50, 50, 0.42);
  -moz-box-shadow:    inset 0px 2px 10px 0px rgba(50, 50, 50, 0.42);
  box-shadow:         inset 0px 2px 10px 0px rgba(50, 50, 50, 0.42);

  margin-bottom: 20px;

  .breadcrumbs {
    text-align: right;
  }

  h2 {
    font-size: 1.2rem;
    margin: 0;
  }
}


@import "header";

@import "static_pages";
@import "cart";